
<div
  class="static-slider-head"
  style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(assets/images/landingpage/banner-bg3.jpg); position: sticky;"

>
<div style="position: absolute;
top:5;
bottom: 10;
left: 0;
right: 0;
margin: auto;">
  <div class="container">
    <!-- Row  -->
    <div class="row justify-content-center">
      <!-- Column -->
      <div class="col-lg-9 col-md-6 align-self-center text-center no-trans">
        <h1 class="title">Kieron's Blog</h1>
        <h5 style="color: white;">
         Develoepr blog posts about my encounters in the software engineering world, mostly about but not stirctly C# and .Net Core
        </h5>

        <a
          href="https://kieron-developer.uk/"
          class="btn btn-md m-t-30 btn-success-gradiant font-14"
          target="blank"
          >About Kieron</a
        >
      </div>
      <!-- Column -->
    </div>
  </div>
</div>
<ng-particles id="tsparticles" [options]="particlesOptions" [style]="myStyle" (particlesLoaded)="particlesLoaded($event)">

</ng-particles>
</div>



<!-- Row  -->
<div class="container spacer">

  <div class="row justify-content-center">
    <!-- Column -->
    <div class="col-md-8 no-trans text-center">
      <h2 class="title">Recent Blogs</h2>

    </div>
    <!-- Column -->
  </div>
  <div class="row m-t-40 justify-content-center">
    <!-- Column -->
    <div
      class="col-md-8 no-trans border-bottom mb-4"
      *ngFor="let bl of service.Blogs"
    >
      <div class="card" data-aos="flip-left" data-aos-duration="1200">
        <div class="row">
          <div class="col-md-2 no-trans">
            <span class="text-dark font-medium">{{ bl.blogDate }}</span>
            <h6 class="card-subtitle font-12 mt-1">By Kieron Cairns</h6>
          </div>
          <div class="col-md-7 no-trans">
            <h5 class="font-medium cursor-pointer" (click)="viewDetail(bl.id)">
              {{ bl.heading.substring(0, 50) }}..
            </h5>
            <p class="m-t-20">
              {{ bl.subHeading }}
            </p>
          </div>
          <div class="col-md-3 no-trans">
            <a
              class="linking font-medium text-themecolor m-t-10 cursor-pointer"
            >
              <span (click)="viewDetail(bl.id)">Show Detail</span>
              <i class="ti-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


